/* for L laptos 1440px --done */

/* for Laptop 1024px  */
@media screen and (max-width: 1024px) {
    .hero-text-box {
    width:100%;
    padding: 0 2%;
    }
    .row{
        padding: 0 2%;
    }
    .long-copy {
        width: 80%;
        margin-left: 10%;
    }
    body {
        font-size: 1rem;
    }
    section {
        padding: 2rem 0;
    }
    .steps-box{
        margin-top: 1rem;
    }
     .works-step{
    margin-bottom: 2rem;
    }
    .works-step:last-of-type{
        margin-bottom: 3rem;
    }
    .icon-city{
        width: 1rem;
        margin-right: 0.5px;
    }
    .city-feature {
        font-size: 90%;
    }
    .plan-box {
        width: 100%;
        margin-left:0% ;
    }
    .plan-price {
        font-size: 250%;
    }
    .section-form {
        width: 80%;
    }
}

/* for tablet 768px*/
@media screen and (max-width: 768px) {
    html{
        width: 100%;
    }
    body{
        font-size: 1rem;
        }
    section{
            padding: 2rem 0;
        }
    .hero-text-box {
        width:95%;
         padding: 0 2%;
         font-size: 0.80rem;
         }
      nav{
            width: 98%;
         }
     .logo{
            margin-left: 2%;
         }
        
    .mobile-nav-icon {
           display: block;
       position: absolute;
        right: 2rem;
      top: 3rem;
        z-index: 2000;
     }
    
     
    .main-nav {
        flex-direction: column;
        position: absolute;
        top: 10vh;
        right: 2rem;
        background-color: #333;
        padding: 2rem;
        width: 200px;
        border-radius: 1rem;
        z-index: 1500;
      
        opacity: 0;
        transform: translateY(-20px) scale(0.95);
        pointer-events: none;
        visibility: hidden;
        transition: opacity 0.4s ease, transform 0.4s ease-in-out;
      }      

   /* When hamburger is clicked */
    .main-nav.active {
    opacity: 1;
    transform: translateY(0) scale(1);
    pointer-events: auto;
    visibility: visible;
   }
   
   
      .main-nav li {
        display: block;
        margin: 1rem 0;
        text-align: right;
        
      }
      .main-nav li a:hover ,
         .main-nav li a:active{
      border-bottom :none;
      }

    .main-nav li a {
      font-size: 1rem;
      color: white;
      border-bottom: none;
     }

    .main-nav li a:hover {
      color: #e67e22;
      
     }
     .row{
        padding: 0 3%;
    }
    .long-copy {
        width: 75%;
        margin-left: 10%;
    }
    .col{
        width: 100%;
        margin: 0 0 4%;
    }
    .section-steps {
    height: 155vh;
    }
    .section-testimonial{
        height: 125vh;
    }
    .section-plans{
        height: 230vh;
    }
    .section-features .box{
        margin-bottom: 0;
    }
    .phone {     
        width: 30%;
         transform: translate(60%, 0%);
         margin-bottom: 0;
        
    }
    .steps-box{
        font-size:1rem;
    }
    .works-step div {
        height: 5rem;
        width: 5rem;
        margin-right: 2rem;
        margin-bottom: 2rem;
        padding:2rem ;
        display: flex;
        align-items: center; 
    }

}
/*for L mobile 426px */
@media screen and (max-width: 426px) {
    .html{
        width: 100%;
    }
    body{
        font-size:0.95rem ;
    }
     section{
            padding: 1.95rem 0;
        }
    .hero-text-box {
        width:95%;
         padding: 0 2%;
         font-size: 0.70rem;
        text-align: center;
         }

      nav{
            width: 98%;
           
         }
     .logo{
            margin-left: 2%;
            height: 12vh;
         }
         .mealpara{
          margin-left:-0.4rem;
         }
        .section-features{
            padding: 1rem auto;
        }
        .section-steps .works-step div{
            font-size: 1.5rem;
            height: 1vh;
        }
        .section-testimonial{
            height: 140vh;
        }
        
}


/*for Medium mobile 376px */
@media screen and (max-width: 376px) {
    html {
        width:100%;
    }
    body{
        font-size: 0.90rem;
    }
     .delivered-meals .h4 {
             font-size: 1rem;
             margin-right: 0.5rem;
    }
    .phone {
         transform: translate(30%, 0%);
    }
    .section-form {
        font-size: 0.95rem;
        width: 80%;
    }
}
/*for small mobile 321px */
@media screen and (max-width: 321px) {
    .html {
        width: 100%;
    }
    body {
        font-size: 0.85rem;
    }
    .hero-text-box {
        margin-top: 5vh;
        width:95%;
         padding: 0 1%;
         font-size: 0.60rem;
        text-align: center;
         }
         .mobile-nav-icon{
            margin-top: -1rem;
         }
         header .btn {
             font-size: 1rem;
             margin-right: 2rem;
             margin-bottom: 0.2rem;
         }
        
          .delivered-meals .h4 {
             font-size: 0.80rem;
             margin-right: 0.2rem;
              
            }
            header {
                height: 90vh;
            }
            .works-step div {
                margin-bottom: 3.3rem;
            }
}



